button {
  background-color: #005de7;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 3px;
  font-size: 2rem;
}

button:hover {
  background-color: #0056b3;
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
